/*/home/aidastya/public_html/test/wp-content/themes/ai-assistant-test/assets/css/components/payment-popup.css*/
.payment-confirmation-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    backdrop-filter: blur(5px);
}

.payment-confirmation-content {
    background: white;
    border-radius: 12px;
    padding: 24px;
    /*width: 90%;*/
    max-width: 400px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    animation: popupSlideIn 0.3s ease-out;
    font-size: 0.9rem;
}

@keyframes popupSlideIn {
    from {
        opacity: 0;
        transform: translateY(-20px) scale(0.9);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.wallet-balance-popup, .payment-cost {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 10px;
    background: #f8f9fa;
    border-radius: 8px;
}

.payment-details > div > span:nth-child(1) {
    text-align: right;
}

.payment-details > div > span:nth-child(2) {
    text-align: left;
}

.payment-header h3 {
    color: #00857a;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.payment-details {
    margin-bottom: 25px;
}

.payment-warning {
    color: #6c757d;
    font-size: 0.9rem;
    margin-top: 15px;
}

.payment-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
